<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="th" lang="th" id="">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content="th" />
<link href="/css/vtimeline.css" type="text/css" rel="stylesheet"></link>

<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#specs_list").load("/specs", {'action': 'list'});
});

function delete_specs(key) {
    $.post("/specs", 
           {'action': 'delete', 'key': key},
           function(data) {
                $("#specs_list").load("/specs", {'action': 'list'});
           },
           "text"); 
}
</script>
<title>โปรแกรมสร้างแผนภูมิแสดงความคืบหน้าของโครงการ</title></head>
<body>
<table class="head"><tr><td id="head">โปรแกรมสร้างแผนภูมิแสดงความคืบหน้าของโครงการ</td></tr></table>
<p id="msg">โปรแกรมนี้เขียนขึ้นมามั่วๆ ไว้ทำรายงาน น่าจะใช้ได้กับ Firefox 3.x.x เท่านั้น แต่ว่าพี่ต้นลองวันก่อนใช้ Chrome ก็ได้ ตอนนี้ขึ้นได้ด้วยว่าแต่ละงานเสร็จแล้วกี่เปอร์เซ็นต์. อีกอย่างสามารถโหลดโปรแกรมไปใช้ ไปแก้ และทำอะไรอื่นๆ ได้จาก <a href="http://code.google.com/p/vtimeline/">http://code.google.com/p/vtimeline/</a>.
</p>

<p>
<span>{{ user.nickname }} กำลังใช้งาน</span> 
<a href="{{ logout_url|escape }}">[ลงชื่อออก]</a>
<br/>
<table>
<tr>
<td>
<form id="specform" method="post" action="/">
<table id="form">
<tr>
<td>ชื่อแผนภูมิ (ใช้ช่วยจำ)</td>
<td><input type="text" name="title" value="{% if title %}{{ title|escape }}{% else %}แผนภูมิของฉัน{% endif %}" size="69" /></td>
</tr>
<tr>
<td>คำอธิบาย (ใช้สร้างแผนภูมิ)</td>
<td>
<textarea rows="20" cols="69" name="specs">{% if specs %}{{ specs|escape }}{% else %}เริ่ม 1/2552
สิ้นสุด 4/2553
ความละเอียด 3 เดือน
กิจกรรม ขายกระดาษ
* ตั้งแต่ 1/2552
* ถึง 3/2552
* สำเร็จร้อยละ 80
กิจกรรม ปลูกต้นไม้
* ตั้งแต่ 5/2552
* ถึง 4/2553
ช่องแรกกว้าง 300
ช่องกว้าง 100
{% endif %}
</textarea></td>
</tr>
<td></td>
<td><input type="submit" name="action" value="สร้างแผนภูมิ"/>
 <input type="submit" name="action" value="จัดเก็บคำอธิบาย"/></td>
</table>
</form>
</td>
<td id="specs_list">
</td>
</tr>
</table>
</p>

{% if svg %}
<div id="result"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ w }}" height="{{ h }}"> 
        {{ svg }}
    </svg>
    <br/> 
</div>
{% endif %}

<div>
<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
alt="Powered by Google App Engine" />
</div>

</body>
</html>
